<h1>@<%= @blog.handler %>'s blog</h1>
<pre>
  id:<%= @blog.id %>
  handler:<%= @blog.handler %>
  title:<%= @blog.title %>
  description:<%= @blog.description %>
  user_id:<%= @blog.user_id %>
  deleted_at:<%= @blog.deleted_at %>
</pre>
<section>
<%= paginate @articles %>
<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <article>
    <%= article.content.truncate(100) %>
  </article>
<% end %>
</section>
<section>
  <h2>誰來我家</h2>
  <ol>
    <li>begin</li>
    <% @blog.visitors&.each do |visitor| %>
    <li><%= link_to visitor.email, "/@#{visitor.blog.handler}" %></li>
    <% end %>
  </ol>
</section>
<%# <% byebug %>
