<%= render "shared/errors", errors: article.errors if article.errors.any? %>

<%= form_for article do |form| %>

  <div>
  標題
  <%= form.text_field :title %>
  </div>

  <div>
  標題
  <%= form.file_field :cover_image %>
  </div>

  <div>
  發布日期
  <%= form.text_field :publish_at, data: { controller: "datepicker" }%>
  </div>

  <div>
  內容
  <%= form.text_area :content %>
  </div>

  <div>
  密碼
  <%= form.text_field :pincode %>
  fill unless no need
  </div>

  <%= form.submit %>
<% end %>
