<h1>文章</h1>

<h2><%= @article.title %></h2>

<section data-controller="like"
         data-article-id="<%= @article.id %>"
         data-liked="<%= current_user&.liked?(@article) %>">
  <button data-like-target="likeButton"
          data-action="click->like#like_article">O</button>
</section>
<p>
  <% if is_locked?(@article) %>
    <%= form_with url: unlock_article_path, method: "patch" do |f| %>
      <label>請輸入密碼 <%= f.text_field :pincode %></label>
      <%= f.submit "解鎖" %>
    <% end %>
  <% else %>
    <%= @article.content %>
  <% end %>

  <section>
    <%= form_with model: [@article, @comment], local: false do |f| %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>
  </section>
  <ul class="comment_list">
    <%= render @comments %>
  </ul>
</p>
