<h1><%= link_to "有名小站", root_path %></h1>
<nav>
  <ul>
    <% if user_singed_in? %>
      <li>User : <%= current_user.email %></li>
      <li><%= link_to "登出", sessions_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "註冊", "/users/sign_up" %></li>
      <li><%= link_to "登入", "/users/sign_in" %></li>
      <% end %>
  </ul>
</nav>
<hr>
<pre><%= params %></pre>
<% instance_variables %>
<hr>
