<h1 class="p-8"><%= link_to "有名小站", root_path %></h1>
<nav>
  <ul>
    <% if user_singed_in? %>
      <li><%= link_to "升級方案", plans_path %></li>
      <li>User : <%= current_user.email %></li>
      <li>
        <%= link_to "blog", blogs_path(handler: current_user.blog.handler) %>
        <%= link_to "edit", edit_blogs_path(handler: current_user.blog.handler) %>
      </li>
      <li><%= link_to "登出", sessions_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "註冊", "/users/sign_up" %></li>
      <li><%= link_to "登入", "/users/sign_in" %></li>
      <% end %>
  </ul>
</nav>
<hr>

<form action="/articles/search" method="get">
  > <input type="text" name="keyword">
  <button type="submit">搜尋</button>
</form>

<hr>
<pre><%= params %></pre>
<% instance_variables %>
<hr>
