<!DOCTYPE html>
<html>
  <head>
    <title>Rich</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>pending</h1>
      <ul>
        <li><%= link_to "註冊", "/users/sign_up" %></li>
        <li><%= link_to "登入", "/users/sign_in" %></li>
        <li><%= link_to "登出", "/users/sign_out" %></li>
      </ul>
    </nav>
    <%= render "shared/flash" if notice %>
    <% if user_singed_in? %>
    User : <%= current_user.email %>
    <% end %>
    <%# byebug %>
    <%= yield %>
    <%= alert %>
  </body>
</html>
