<!DOCTYPE html>
<html>
  <head>
    <title>Rich</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/flash" if notice %>
    <div>
    <h1>pending</h1>
    <%= link_to "註冊", "/users/sign_up" %>
    <%= link_to "登入", "/users/sign_in" %>
    </div>
    <%= yield %>
    <%= alert %>
  </body>
</html>
